<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>订单编号：</p>
                                <input type="text" name="orderCode"/>
                            </li>
                            <li>
                                <p>客户名：</p>
                                <input type="text" name="userName"/>
                            </li>
                            <li>
                                <p>客户手机号：</p>
                                <input type="text" name="userTelephone"/>
                            </li>
                            <li>
                                <p>客户公司名：</p>
                                <input type="text" name="companyName"/>
                            </li>
                            <li>
                                <p>起始地：</p>
                                <input type="text" name="startArea"/>
                            </li>
                            <li>
                                <p>目的地：</p>
                                <input type="text" name="endArea"/>
                            </li>
                            <li>
                                <p>订单状态：</p>
                                <select name="orderStatus" th:with="type=${@dict.getType('order_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                           <!-- <li>
                                <p>开票状态：</p>
                                <select name="billStatus" th:with="type=${@dict.getType('bill_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>-->
                            <li>
                                <p>结算状态：</p>
                                <select name="payableStatus" th:with="type=${@dict.getType('payable_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="transport:order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="transport:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="transport:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="transport:order:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
     <!-- 模态框（Modal） -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                         &times;
                     </button>
                     <h4 class="modal-title" id="myModalLabel">
                         车辆信息
                     </h4>
                 </div>
                 <div class="modal-body">

                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                     </button>
                 </div>
             </div><!-- /.modal-content -->
         </div><!-- /.modal -->
     </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('transport:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('transport:order:remove')}]];
        var orderStatusDatas = [[${@dict.getType('order_status')}]];
        var billStatusDatas = [[${@dict.getType('bill_status')}]];
        var payableStatusDatas = [[${@dict.getType('payable_status')}]];
        var prefix = ctx + "transport/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单",
                fixedColumns: true,
                fixedNumber: 7,
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'orderCode', 
                    title : '订单编号'
                },
                {
                    field : 'userName', 
                    title : '客户名'
                },
                {
                    field : 'userTelephone', 
                    title : '客户手机号'
                },
                {
                    field : 'companyName', 
                    title : '客户公司名称'
                },
                {
                    field : 'startArea', 
                    title : '起始地'
                },
                {
                    field : 'endArea', 
                    title : '目的地'
                },
                {
                    field : 'orderStatus', 
                    title : '订单状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orderStatusDatas, value);
                    }
                },
               /* {
                    field : 'billStatus', 
                    title : '开票状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(billStatusDatas, value);
                    }
                },*/
                {
                    field : 'payableStatus', 
                    title : '结算状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(payableStatusDatas, value);
                    }
                },
                {
                    field : 'orderVehicleDriverList',
                    title : '车辆信息',
                    formatter: function(value, row, index) {
                        var orderVehicleDriverHtml="";
                        if (null != row.orderVehicleDriverList && row.orderVehicleDriverList.length > 0) {
                            $.each(row.orderVehicleDriverList, function (i,item) {
                                orderVehicleDriverHtml += "<aa>* 司机名称：" + item.driverName + "，司机手机号：" + item.driverTelephone + "，车牌号：" + item.vehicleNumber + "；</aa><br/>";
                            });
                            return "<a onclick=\"showOrderVehicleDriver('"+orderVehicleDriverHtml+"')\">查看车辆</a>";
                        }
                        return "暂无信息";

                    }
                },
                {
                    field : 'expectExpense', 
                    title : '预计费用'
                },
                {
                    field : 'expectStartTime', 
                    title : '预计出发时间'
                },
                {
                    field : 'expectArrivalTime', 
                    title : '预计到达时间'
                },
                {
                    field : 'actualExpense', 
                    title : '实际费用'
                },
                {
                    field : 'orderStartTime',
                    title : '实际出发时间'
                },
                {
                    field : 'orderArriveTime',
                    title : '实际到达时间'
                },
                {
                    field : 'orderPayTime',
                    title : '实际到达时间'
                },
                {
                    field : 'createBy', 
                    title : '创建人'
                },
                {
                    field : 'createTime', 
                    title : '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function showOrderVehicleDriver(detail){
            layer.open({
                type: 1,
                closeBtn: 1, //不显示关闭按钮
                anim: 2,
                shadeClose: true, //开启遮罩关闭
                fix: false,
                content:"<div style='padding:20px;line-height:30px;'>"+detail+"</div>"
            });
            //layer.msg(detail, { icon: $.modal.icon(1), shift: 5 });
        }
    </script>
</body>
</html>