<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改订单')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content gray-bg">
    <form class="form-horizontal m" id="form-order-view" th:object="${tOrder}">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>客户信息</h5>
                    </div>
                    <div class="ibox-content">
                        <input name="id" th:field="*{id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户名：</label>
                            <div class="col-sm-8">
                                <input name="userName" th:field="*{userName}" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户手机号：</label>
                            <div class="col-sm-8">
                                <input name="userTelephone" th:field="*{userTelephone}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户公司名：</label>
                            <div class="col-sm-8">
                                <input name="companyName" th:field="*{companyName}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group" style="height: 34px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>行程预估</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">行程：</label>
                            <div class="col-sm-8">
                                <input name="startArea" th:field="*{startArea}" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">预计费用：</label>
                            <div class="col-sm-8">
                                <input name="expectExpense" th:field="*{expectExpense}" class="form-control"
                                       type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">预计出发时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="expectStartTime"
                                           th:value="${#dates.format(tOrder.expectStartTime, 'yyyy-MM-dd hh')}"
                                           class="form-control" placeholder="yyyy-MM-dd hh" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">预计到达时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="expectArrivalTime"
                                           th:value="${#dates.format(tOrder.expectArrivalTime, 'yyyy-MM-dd hh')}"
                                           class="form-control"
                                           placeholder="yyyy-MM-dd hh" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" style="height: 250px;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>订单状态调整</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">订单状态：</label>
                            <div class="col-sm-8">
                                <select name="orderStatus" class="form-control m-b"
                                        th:with="type=${@dict.getType('order_status')}"
                                        th:disabled="*{orderStatus==120}?'disabled'">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"
                                            th:field="*{orderStatus}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group startTimeArea" th:style="*{orderStatus == 100}?'display: none'">
                            <label class="col-sm-3 control-label ">实际出发时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="orderStartTime"
                                           th:value="${#dates.format(tOrder.orderStartTime, 'yyyy-MM-dd hh')}"
                                           class="form-control" placeholder="yyyy-MM-dd hh" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group arriveTimeArea" th:style="*{orderStatus lt 120}?'display: none'">
                            <label class="col-sm-3 control-label">实际到达时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="orderArriveTime"
                                           th:value="${#dates.format(tOrder.orderArriveTime, 'yyyy-MM-dd hh')}"
                                           class="form-control" placeholder="yyyy-MM-dd hh" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>备注</h5>
                    </div>
                    <div class="ibox-content">
                        <textarea name="remark" style="width: 100%;height:170px;" th:text="*{remark}"></textarea>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>开票信息调整</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group billStatusArea" th:style="*{orderStatus!=120}?'display: none'">
                            <label class="col-sm-3 control-label">开票状态：</label>
                            <div class="col-sm-8">
                                <select name="billStatus" class="form-control m-b"
                                        th:with="type=${@dict.getType('bill_status')}">
                                    <option value="">--请选择--</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}" th:field="*{billStatus}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group billArea" th:style="*{billStatus!=2}?'display: none'">
                            <label class="col-sm-3 control-label">开票类型：</label>
                            <div class="col-sm-8">
                                <select name="billType" class="form-control m-b"
                                        th:with="type=${@dict.getType('bill_type')}">
                                    <option value="">--请选择--</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}" th:field="*{billType}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group billArea" th:style="*{billStatus!=2}?'display: none'">
                            <label class="col-sm-3 control-label">开票金额：</label>
                            <div class="col-sm-8">
                                <input name="billExpense" th:field="*{billExpense}" class="form-control" type="number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" >
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>结算状态调整</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group payStatusArea" th:style="*{orderStatus!=120}?'display: none'">
                            <label class="col-sm-3 control-label">结算状态：</label>
                            <div class="col-sm-8">
                                <select name="payableStatus" class="form-control m-b" th:with="type=${@dict.getType('payable_status')}">
                                    <option value="">--请选择--</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                            th:field="*{payableStatus}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group payTimeArea" th:style="*{payableStatus!=2}?'display: none'">
                            <label class="col-sm-3 control-label">结算时间：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="orderPayTime" th:value="${#dates.format(tOrder.orderPayTime, 'yyyy-MM-dd hh')}"
                                           class="form-control" placeholder="yyyy-MM-dd hh" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group payTimeArea" th:style="*{payableStatus!=2}?'display: none'">
                            <label class="col-sm-3 control-label">结算费用：</label>
                            <div class="col-sm-8">
                                <input name="actualExpense" th:field="*{actualExpense}" class="form-control" type="number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>司机车辆信息</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <table id="table-OrderVehicleDriver">
                                <thead class="tr-copy">
                                <td>司机姓名</td>
                                <td>司机手机号</td>
                                <!--<td>司机身份证号</td>-->
                                <td>车牌号</td>
                                <td>高速费</td>
                                <td>停车费</td>
                                <td>etc</td>
                                <td>加油</td>
                                <td>调度</td>
                                <td>结账</td>
                                <td>备注</td>
                                <!--<td>外调车</td>-->

                                </thead>
                                <tbody id="tBody-orderVehicleDriver">
                                <tr class="tr-copy" th:each="item:*{orderVehicleDriverList}">
                                    <td>
                                        <input name="" class="form-control driverName" type="text" placeholder="请输入司机名称" maxlength="30"
                                               required th:value="${item.driverName}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control driverTelephone" type="text" placeholder="请输入司机手机号"
                                               maxlength="30" th:value="${item.driverTelephone}">
                                    </td>
                                    <!-- <td>
                                         <input name="" class="form-control driverIdentityCard" type="text" placeholder="请输入司机身份证号"
                                                maxlength="30" th:value="${item.driverIdentityCard}">
                                     </td>-->
                                    <td>
                                        <input name="" class="form-control vehicleNumber" type="text" placeholder="请输入车牌号"
                                               maxlength="30" th:value="${item.vehicleNumber}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control highSpeedFee fee" type="number" placeholder="高速费"
                                               maxlength="8" th:value="${item.highSpeedFee}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control parkingFee fee" type="number" placeholder="停车费"
                                               maxlength="8" th:value="${item.parkingFee}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control etcFee fee" type="number" placeholder="etc"
                                               maxlength="8" th:value="${item.etcFee}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control fuelFee fee" type="number" placeholder="加油费"
                                               maxlength="8" th:value="${item.fuelFee}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control dispatcher " type="text" placeholder="调度人"
                                               maxlength="30" th:value="${item.dispatcher}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control billFee fee" type="number" placeholder="结账费用"
                                               maxlength="8" th:value="${item.billFee}">
                                    </td>
                                    <td>
                                        <input name="" class="form-control remark" type="text" placeholder="备注" maxlength="250"
                                               th:value="${item.remark}">
                                    </td>
                                    <!--<td>-->
                                    <!--<input name="" class="form-control" type="text" placeholder="请输入司机名称"  maxlength="30" required th:field="*{item.driverTelephone}">-->
                                    <!--</td>-->

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    $("#form-order-view input,#form-order-view select,#form-order-view textarea").attr("readonly",true);
</script>
</body>
</html>