<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增司机')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-driver-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">司机姓名：</label>
                <div class="col-sm-8">
                    <input name="driverName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">司机手机号：</label>
                <div class="col-sm-8">
                    <input name="driverTelephone" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">司机身份证号：</label>
                <div class="col-sm-8">
                    <input name="driverIdentityCard" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">司机驾驶证照片：</label>
                <div class="col-sm-8">
                    <input class="form-control file" type="file" multiple data-min-file-count="1" data-theme="fas"  />
                    <input id="drivingLicenseImage" name="drivingLicenseImage" style="display: none">
                    <img src=""alt="" id="image_show" style="width:50px;height: 50px;display: none"/>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "transport/driver"
        $("#form-driver-add").validate({
            focusCleanup: true
        });
        $("#form-driver-add .file").change(function(){
            var formData = new FormData();
            formData.append("file",$("#form-driver-add .file")[0].files[0]);
            $.ajax({
                url:ctx + 'common/upload', /*接口域名地址*/
                type:'post',
                data: formData,
                contentType: false,
                processData: false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    if(data["code"]=="0"){
                        $("#form-driver-add #drivingLicenseImage").val(data["fileName"]);
                        $("#image_show").attr("src",data["url"]);
                        $("#image_show").show();
                    }else{
                        $.modal.alertError("上传失败");
                    }
                }
            })
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-driver-add').serialize());
            }
        }
    </script>
</body>
</html>